@import "style/animations.less";
@import "style/non-standard.less";

.object-3d {
    .transform(translateZ, 0);
}

.networking {

    &-id {

    }

    &-peers {

    }

    &-connectbtn {

    }
}

.table {
    transform-style: preserve-3d;

    min-width: 400px;
    min-height: 300px;

    width: 400px;
    height: 300px;

    background: green;

    box-shadow:
        inset 0 0 10px 0 rgba(0, 0, 0, 0.5),
        inset 0 0 50px 0 rgba(0, 0, 0, 0.3),
        0 0 20px 0 rgba(0, 0, 0, 1);

    &-space {
        transform-style: preserve-3d;
        perspective: 1200px;

        margin: 3px;
    }

    &:after {
        content: "";

        .transform(translateZ, 0px);

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border: 3px solid green;

        pointer-events: none;
    }
}

.card {
    &, &-container, &-content {
        transform-style: preserve-3d;
    }

    &-flipped {
        &.animate {
            .card-content {
                .animation-set(flip, 1s);
            }
        }

        .card-content {
            .transform(rotateY, 180deg);
        }
    }

    &-unflipped {
        &.animate {
            .card-content {
                .animation-set(unflip, 1s);
            }
        }

        .card-content {
            .transform(rotateY, 0deg);
        }
    }

    &-front, &-back {
        pointer-events: none;
        backface-visibility: hidden;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
    }

    background: rgba(0, 0, 0, 0.1px);

    &-front {
        .transform(rotateY, 180deg);
    }

    &-thickness {
        box-shadow:
            0 0 10px 0 rgba(0, 0, 0, 0.4),
            inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    }
}

.contextmenu {
    margin: 0;

    font-size: 12px;
    font-family: sans-serif;

    list-style: none;

    border-radius: 2px;
    border: 1px solid black;
    background: white;
    padding: 4px 0;

    &-entry {
        margin: 4px 0;
        padding: 2px 16px;

        cursor: default;

        &:focus, &:hover {
            background: rgba(0, 64, 255, 0.2);
        }

        &-disabled {
            opacity: 0.5;

            &:focus, &:hover {
                background: none;
            }
        }

        &-expandable {
            &:after {
                content: "▸";

                padding: 0 0 0 4px;
                float: right;
            }
        }

        clear: both;
    }

    &-separator {
        margin: 8px 0 4px;
        border-top: 1px solid black;
    }
}
