@import "non-standard.less";

.animation-create(@animation, @from, @to) {
    @-webkit-keyframes @animation {
        from { @from(); }
        to { @to(); }
    }
    @keyframes @animation {
        from { @from(); }
        to { @to(); }
    }
}

.animation-set(@animation, @duration: 200ms, @timing: ease) {
    animation-name: @animation;
    animation-timing-function: @timing;
    animation-iteration-count: 1;
    animation-duration: @duration;

    // animations not supported in webkit as of now
    -webkit-animation: none;
}

.animation-skip() {
    animation-name: none;
}

.animation-create(flip, {
    .transform(rotateY, 0deg);
}, {
    .transform(rotateY, 180deg);
});

.animation-create(unflip, {
    .transform(rotateY, -180deg);
}, {
    .transform(rotateY, 0deg);
});
